@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCatalog>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Merchello.Web.Models
@using Merchello.Web.Models.Ui.Rendering
@{
    Layout = "FastTrack.cshtml";

    var title = Model.Categories == null ? Model.Name : Model.Categories.Name;
    var categories = Model.Categories != null ? Model.Categories.Children().ToArray() : Enumerable.Empty<IProductCollection>();
}

@Html.Partial("_Headline")

<h3>@title</h3>

<div class="row">
    <div class="col-md-10 col-md-offset-1 animate-box fadeInUp animated-fast">
        <div class="owl-carousel owl-carousel-fullwidth product-carousel owl-theme owl-loaded">




             
            <div class="owl-stage-outer owl-height" style="height: 769px;">
                <div class="owl-stage" style="transform: translate3d(-4725px, 0px, 0px); transition: all 0.8s ease 0s; width: 8505px;">
                    <div class="owl-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-4.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-5.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-1.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-2.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-3.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-4.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-5.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-1.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="~/images/product-single-2.jpg" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
        </div>
        <div class="row animate-box fadeInUp animated-fast">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Hauteville Rocking Chair</h2>
                <p>
                    <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
                    <a href="#" class="btn btn-primary btn-outline btn-lg">Compare</a>
                </p>
            </div>
        </div>
    </div>
</div>

@foreach (var cat in categories.OrderBy(x => x.Name))
{
    <div>
        @CategoryLink(cat)
        <div class="row">
            @foreach (var p in cat.GetProducts(1, 3))
            {
                <div class="col-md-4">
                    @Html.Partial("_ProductBox", p)
                </div>
            }
        </div>
    </div>
}

@helper CategoryLink(IProductCollection category)
{
if (category.Key != Guid.Empty)
{
    var page = ExampleUiHelper.Content.GetCategoryPageForCollection(category.Key);
    if (page != null)
    {
            <h4><a href="@page.Url">@category.Name</a></h4>
    }
    else
    {
            <h4>@category.Name</h4>
    }

}
else
{
        <h4>@category.Name</h4>
}
}